/* 共通 */
.br-pc {
  display: inline;
}

.br-sp {
  display: none;
}

/* ヘッダー */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 80px;
  padding: 0 80px 0 25px;
}

.header-logo {
  font-family: "Yu Gothic", YuGothic;
  font-weight: bold;
  font-size: 25px;
  letter-spacing: 0.08em;
}

.header-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 179px;
  height: 30px;
  border-radius: 15px;
  background-color: #f65b1e;
  font-family: "Yu Gothic", YuGothic;
  font-weight: 500;
  font-size: 12px;
  color: #fff;
}

/* ハンバーガーメニュー */
.header-line-wrap {
  position: fixed;
  top: 34px;
  right: 33px;
  width: 25px;
  height: 16px;
  z-index: 1;
  cursor: pointer;
}

.header-line {
  position: absolute;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #f65b1e;
  transition: .5s;
}

.header-line-top {
  top: 0;
}

.header-line-middle {
  top: 7px;
}

.header-line-bottom {
  bottom: 0;
}

.header-line-top-open {
  top: 7px;
  transform: rotate(135deg);
  background-color: #fff;
}

.header-line-middle-open {
  opacity: 0;
}

.header-line-bottom-open {
  bottom: 7.5px;
  transform: rotate(-135deg);
  background-color: #fff;
}

/* ハンバーガーメニュー中身 */
.header-navigation-wrap {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #f65b1e;
  opacity: 0;
  pointer-events: none;
  transition: .5s;
}

.header-navigation-wrap-open {
  opacity: 1;
  pointer-events: auto;
}

.header-link-wrap {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.header-link {
  font-family: "Yu Gothic", YuGothic;
  font-weight: bold;
  font-size: 30px;
  letter-spacing: 0.1em;
  text-align: center;
  color: #fff;
}

.header-navigation-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 50px;
  border-radius: 25px;
  background: #fff;
  font-family: "Yu Gothic", YuGothic;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 0.11em;
  text-align: left;
  color: #f65b1e;
  margin-top: 100px;
}

.header-sns-wrap {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-top: 45px;
}

.header-address {
  font-family: "Yu Gothic", YuGothic;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  color: #fff;
  margin-top: 45px;
}

/* キービジュアル */
.key-visual {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 820px;
  background-image: url(../img/bg_kv.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 230px 30px 0;
}

.key-visual-title {
  width: 100%;
  max-width: 1200px;
  font-family: "Yu Mincho", YuMincho;
  font-weight: normal;
  font-size: 120px;
  line-height: 120px;
  color: #fff;
}

/* アバウト */
.about {
  display: flex;
  justify-content: center;
  padding: 175px 30px 80px;
}

.about-wrap {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  width: 100%;
  max-width: 1200px;
}

.about-text-wrap {
  width: 100%;
  max-width: 496px;
}

.about-title {
  font-family: "Yu Mincho", YuMincho;
  font-weight: normal;
  font-size: 110px;
  color: #4b4b4b;
}

.about-sub-title {
  font-family: "Yu Gothic", YuGothic;
  font-weight: 500;
  font-size: 20px;
  line-height: 36px;
  margin-top: 100px;
}

.about-text {
  font-family: "Yu Gothic", YuGothic;
  font-weight: 500;
  font-size: 14px;
  line-height: 30px;
  margin-top: 30px;
}

.about-img {
  margin-top: 60px;
  width: 50%;
  aspect-ratio: 600 / 666;
  object-fit: cover;
}

.about-img-pc {
  display: inline-block;
}

.about-img-sp {
  display: none;
}

/* セパレーター */
.separater {
  width: 100%;
  height: 370px;
  background-color: #fdf7c1;
}

/* メニュー */
.menu {
  display: flex;
  justify-content: center;
  padding: 146px 30px 80px;
}

.menu-wrap {
  width: 100%;
  max-width: 970px;
}

.menu-title {
  font-family: "Yu Mincho", YuMincho;
  font-weight: normal;
  font-size: 110px;
  color: #4b4b4b;
  text-align: right;
  padding-right: 90px;
}

.menu-list-wrap {
  display: flex;
  gap: 76px;
  margin-top: 30px;
}

.menu-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
}

.menu-list-title {
  font-family: "Yu Gothic", YuGothic;
  font-weight: bold;
  font-size: 22px;
  letter-spacing: 0.2em;
}

.menu-item {
  display: flex;
  justify-content: space-between;
  font-family: "Yu Gothic", YuGothic;
  font-weight: 500;
  font-size: 16px;
  margin-top: 22px;
}

.menu-price {
  width: 61px;
}

.menu-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 40px;
  border-radius: 20px;
  border: 1px solid #f65b1e;
  font-family: "Yu Gothic", YuGothic;
  font-weight: bold;
  font-size: 12px;
  color: #f65b1e;
  margin: 70px 0 0 auto;
}

/* セパレーター（画像） */
.separate-img {
  width: 100%;
  height: 350px;
  background-image: url(../img/bg_separater.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* フッター */
.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 64px;
  width: 100%;
  height: 370px;
  background: #fdf7c1;
  padding: 0 30px;
  margin-top: 120px;
}

.footer-wrap {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
}

.footer-logo {
  font-family: "Yu Gothic", YuGothic;
  font-weight: bold;
  font-size: 25px;
  letter-spacing: 0.08em;
}

.footer-navigation-wrap {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 25px;
}

.footer-sns-wrap {
  display: flex;
  gap: 25px;
}

.footer-link-wrap {
  display: flex;
  gap: 20px;
}

.footer-link {
  font-family: "Yu Gothic", YuGothic;
  font-weight: 500;
  font-size: 12px;
  color: #f65b1e;
}

.footer-address {
  font-family: "Yu Gothic", YuGothic;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
}

.footer-copyright {
  font-family: "Yu Gothic", YuGothic;
  font-weight: normal;
  font-size: 10px;
  margin-top: auto;
}

/* レスポンシブ対応 */
@media screen and (max-width: 767px) {
  /* 共通 */
  .br-pc {
    display: none;
  }

  .br-sp {
    display: inline;
  }

  /* ヘッダー */
  .header {
    justify-content: center;
    height: 70px;
    padding: unset;
  }

  .header-button {
    display: none;
  }

  /* ハンバーガーメニュー */
  .header-line-wrap {
    top: 15px;
    right: 15px;
    width: 22px;
  }

  /* ハンバーガーメニュー中身 */
  .header-link-wrap {
    gap: 25px;
  }

  .header-link {
    font-weight: 500;
    font-size: 20px;
  }

  .header-navigation-button {
    font-weight: 500;
  }

  .header-sns-wrap {
    gap: 28px;
  }

  .header-address {
    font-weight: normal;
  }

  /* キービジュアル */
  .key-visual {
    height: 650px;
    background-image: url(../img/bg_kv-sp.png);
    padding: 280px 18px 0;
  }

  .key-visual-title {
    font-size: 72px;
    line-height: 70px;
  }

  /* アバウト */
  .about {
    padding: 70px 0 100px;
  }

  .about-wrap {
    flex-direction: column;
    gap: 50px;
  }

  .about-text-wrap {
    max-width: unset;
    padding: 0 20px;
  }

  .about-title {
    font-size: 65px;
  }

  .about-sub-title {
    margin-top: 30px;
  }

  .about-text {
    margin-top: 20px;
  }

  .about-img {
    width: 100%;
    aspect-ratio: 365 / 280;
    margin-top: unset;
  }

  .about-img-pc {
    display: none;
  }

  .about-img-sp {
    display: inline-block;
  }

  /* セパレーター */
  .separater {
    display: none;
  }

  /* メニュー */
  .menu {
    padding: 0 20px 100px;
  }

  .menu-title {
    font-size: 65px;
    text-align: left;
    padding-right: unset;
  }

  .menu-list-wrap {
    flex-direction: column;
    gap: 54px;
    margin-top: 37px;
  }

  .menu-list {
    width: 100%;
  }

  .menu-item-first {
    margin-top: 30px;
  }

  .menu-list-title {
    font-size: 16px;
    padding-bottom: 12px;
    border-bottom: 1px solid #0F0F0F;
  }

  .menu-item {
    font-size: 14px;
  }

  .menu-price {
    width: 54px;
  }

  .menu-button {
    width: 280px;
    height: 60px;
    border-radius: 30px;
    font-size: 14px;
    margin: 78px auto 0;
  }

  /* セパレーター（画像） */
  .separate-img {
    height: 250px;
    background-image: url(../img/bg_separater-sp.png);
  }

  /* フッター */
  .footer {
    gap: 35px;
    height: 560px;
    padding: 0 20px;
    margin-top: 80px;
  }

  .footer-wrap {
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }

  .footer-navigation-wrap {
    align-items: center;
    gap: 30px;
  }

  .footer-sns-link {
    display: flex;
    justify-content: center;
    width: 19px;
  }

  .footer-link-wrap {
    flex-direction: column;
    align-items: center;
    gap: 18px;
  }

  .footer-address {
    width: 100%;
    font-size: 10px;
    line-height: 16px;
  }
}
